<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.pagesuite.imgurapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ReqQueue"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostViewMain"
            android:label="@string/title_activity_post_view_main"
            android:parentActivityName=".MainGallery" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.pagesuite.imgurapp.MainGallery" />
        </activity>
        <activity
            android:name=".MainGalleries"
            android:label="@string/title_activity_main_galleries"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.pagesuite.imgurapp.HomeScreen" />
        </activity>
    </application>

</manifest>
